openapi: 3.1.0

info:
  title: Nava Skills Hub API
  version: 1.0.0
  description: |
    REST API for the Nava Skills Hub. All endpoints require a valid `__session` cookie
    (HS256 JWT issued by the auth flow). Obtain one by completing the Google OAuth flow
    at `/auth/login`.

    **Base URLs:**
    - Production: `https://hub.navapbc.com`
    - Staging: `https://staging.hub.navapbc.com`

    **Roles:** the ladder is `user` (default) → `maintain` → `admin`, where each role inherits
    all permissions from the roles below it. `projects-admin` is a capability role that sits
    *outside* that ladder: it grants management of Contract Explorer reference data and nothing
    else privileged. See [rbac-permissions.md](rbac-permissions.md) for the full permission matrix.

servers:
  - url: https://hub.navapbc.com
    description: Production
  - url: https://staging.hub.navapbc.com
    description: Staging

tags:
  - name: auth
    description: Google OAuth flow (Auth Lambda, not API Lambda)
  - name: skills
    description: Skill and agent records
  - name: plugins
    description: Plugin groupings
  - name: users
    description: User profiles and preferences
  - name: audit
    description: Audit event log
  - name: admin
    description: Admin and moderation endpoints
  - name: project-reference
    description: Contract Explorer reference data — archetypes and policy postures
  - name: projects
    description: Projects mirrored from the Nava projects sheet (read-only)
  - name: initiatives
    description: AI initiatives mirrored from the initiatives sheet (read-only)

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __session
      description: HS256 JWT issued after Google OAuth. 8-hour expiry.

  schemas:
    Skill:
      type: object
      required: [slug, name, description, plugin, repo, path, author, compatibility, type]
      properties:
        slug:
          type: string
          description: URL-safe unique identifier
          example: summarize-doc
        name:
          type: string
          example: Summarize Document
        description:
          type: string
          example: When the user wants to summarize a long document...
        type:
          type: string
          enum: [skill, agent]
        plugin:
          type: string
          description: Parent plugin slug
          example: nava-writing
        repo:
          type: string
          description: "GitHub repo in org/repo format"
          example: navapbc/platform-tools
        path:
          type: string
          description: Path to the SKILL.md within the repo
          example: .claude/skills/summarize-doc/SKILL.md
        author:
          type: string
          example: cory-nava
        version:
          type: string
          example: "1.0.0"
        compatibility:
          type: array
          items:
            type: string
          example: [claude-code, claude-ai]
        sensitive_data:
          type: boolean
          default: false
        content:
          type: string
          description: Raw SKILL.md body (everything after frontmatter)
        tags:
          type: array
          items:
            type: string
          example: [writing, productivity]
        category:
          type: string
          enum: [personal-productivity, research-and-analyze, write-and-review, team-automations, build-and-ship]
        visibility:
          type: string
          enum: [public, internal, private]
          default: public
        status:
          type: string
          enum: [pending, approved, rejected]
        source:
          type: string
          enum: [github, enterprise, anthropic-builtin, anthropic-enterprise, user-submitted]
        created_by:
          type: string
          description: user_id (email) of creator
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updated_by:
          type: string
        approved_by:
          type: string
        rejected_by:
          type: string
        rejection_reason:
          type: string
        tools_used:
          type: array
          items:
            type: string
          description: Agent-only — slugs of composed skills
        human_in_loop:
          type: string
          description: Agent-only — description of human review steps

    SkillCreate:
      type: object
      required: [slug, name, description, plugin, repo, path, author, compatibility, type]
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [skill, agent]
        plugin:
          type: string
        repo:
          type: string
        path:
          type: string
        author:
          type: string
        version:
          type: string
        compatibility:
          type: array
          items:
            type: string
        sensitive_data:
          type: boolean
        content:
          type: string
        tags:
          type: array
          items:
            type: string
        visibility:
          type: string
          enum: [public, internal, private]

    Plugin:
      type: object
      required: [slug, name, description, repo, author]
      properties:
        slug:
          type: string
          example: nava-writing
        name:
          type: string
          example: Nava Writing
        description:
          type: string
        repo:
          type: string
          example: navapbc/platform-tools
        author:
          type: string
        skills_count:
          type: integer
          default: 0
        visibility:
          type: string
          enum: [public, internal, private]
          default: public
        status:
          type: string
          enum: [pending, approved, rejected]
        source:
          type: string
          enum: [github, user-submitted]
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        user_id:
          type: string
          description: Google account email
          example: user@navapbc.com
        email:
          type: string
        name:
          type: string
        avatar_url:
          type: string
          format: uri
        role:
          type: string
          enum: [user, maintain, admin, projects-admin]
          default: user
        favorites:
          type: array
          items:
            type: string
          description: Array of skill slugs
        installed:
          type: array
          items:
            type: string
          description: Array of skill slugs
        created_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time

    AuditEvent:
      type: object
      properties:
        user_id:
          type: string
        event_key:
          type: string
          description: "{ISO timestamp}#{UUID}"
          example: "2026-06-08T12:00:00.000Z#a1b2c3d4-..."
        action:
          type: string
          enum: [created, updated, deleted, approved, rejected, role-changed, copied]
        resource_type:
          type: string
          enum: [skill, agent, plugin, user, enterprise-skill, category]
        resource_id:
          type: string
        resource_key:
          type: string
          description: "{resource_type}#{resource_id} — used by byResource GSI"
        metadata:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time

    ProjectsSyncState:
      type: object
      description: >
        State of the last projects sync. Three states rather than two: an
        in-progress marker means a run wrote projects and then died, so the table
        is mid-flight. Reporting that as complete would vouch for a half-written
        table; reporting it as never-synced would label a populated table empty.
      required: [state]
      properties:
        state:
          type: string
          enum: [never_synced, in_progress, complete]
        last_run_at:
          type: [string, "null"]
          format: date-time
        row_count:
          type: [integer, "null"]
          description: Rows read from the sheet on the last completed run. Also the safety gate's baseline.
        created:
          type: [integer, "null"]
        updated:
          type: [integer, "null"]
        deleted:
          type: [integer, "null"]
        new_columns:
          type: array
          description: >
            Headers that appeared since the previous run, recorded by the sync —
            the only thing that sees both header sets. A renamed column is
            indistinguishable from a new one, which is the point: a rename can
            re-admit a column the sync's exclusion list was dropping.
          items:
            type: string

    ProjectsDrift:
      type: object
      description: >
        Archetype values in the sheet checked against the archetype records.
        Resolved on read, so adding a missing archetype clears its findings on the
        next request rather than the next sync.
      required: [archetype_count, unresolved, missing]
      properties:
        archetype_count:
          type: integer
          description: Archetype records compared against. Zero means the seed has not run.
        unresolved:
          type: array
          description: >
            A value is present and matches no archetype label — a typo or a
            rename. This is what fails the scheduled sync.
          items:
            type: object
            required: [project_code, column, raw_value]
            properties:
              project_code:
                type: string
                example: FC026
              project_name:
                type: string
              column:
                type: string
                example: Archetype (Primary)
              raw_value:
                type: string
                description: The sheet's exact string, never the normalized comparison form.
                example: Prodcut Team
        missing:
          type: array
          description: >
            The primary archetype is empty — an unassigned new project rather than
            an error. Carries no raw_value because there is nothing to reproduce,
            and only warns rather than failing a sync.
          items:
            type: object
            required: [project_code, column]
            properties:
              project_code:
                type: string
              project_name:
                type: string
              column:
                type: string

    ProjectReferenceRecord:
      type: object
      description: >
        A Contract Explorer reference record. Archetypes and postures share one
        table and one shape; `icon`, `description`, `characteristics` and
        `ai_opportunities` apply to archetypes, `position` and `steps` to postures.
      required: [id, label, color]
      properties:
        entity_type:
          type: string
          enum: [archetype, posture]
          readOnly: true
        id:
          type: string
          description: >
            Slug-safe — lowercase alphanumeric words separated by hyphens. Doubles
            as a DOM and style key in the Contract Explorer.
          pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          example: product-team
        label:
          type: string
          example: Product Team
        color:
          type: string
          description: >
            Six-digit hex, applied as an inline style. For a posture this is the
            badge background rather than a hue to blend, so it pairs with a fixed
            dark foreground.
          pattern: "^#[0-9a-fA-F]{6}$"
          example: "#651A94"
        status:
          type: string
          enum: [active, inactive]
          default: active
          description: Set via the status endpoint, not by update. There is no delete.
        description:
          type: string
          description: Archetypes only.
        icon:
          type: string
          description: >
            Archetypes only. Must be a name from the curated menu in
            src/lib/icons.mjs — an unlisted name would render as nothing.
          example: users
        characteristics:
          type: array
          description: Archetypes only. Order is preserved.
          items:
            type: string
        ai_opportunities:
          type: array
          description: Archetypes only. Order is preserved.
          items:
            type: string
        position:
          type: integer
          description: >
            Postures only. Display order wherever postures are enumerated. Carries
            no severity or priority meaning — nothing branches on it.
        steps:
          type: array
          description: >
            Postures only. Ordered guidance steps; order is semantically
            load-bearing and preserved as authored. No entry may be empty.
          items:
            type: string
        created_by:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_by:
          type: string
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true

    Initiative:
      type: object
      required: [initiative_id, title]
      description: >
        One AI initiative. The served property set is a fixed ALLOWLIST, unlike
        /api/projects, whose properties follow the sheet. The sync carries new sheet
        columns into the table automatically so none is silently dropped, so this
        allowlist is the review step that keeps a new column from reaching every
        signed-in user unannounced — a column added to the sheet is invisible here
        until it is added to INITIATIVE_FIELDS.
      properties:
        initiative_id:
          type: string
          description: >
            A slug of `title`, and also the detail-page URL segment. The workbook
            supplies no id column, and `title` is the only column both populated on
            every row and unique across them. Consequence: retitling an initiative
            re-keys the record, so a rename is a delete plus a create, `first_seen_at`
            does not survive, and this value changes.
          example: benefits-navigator-prototype
        title:
          type: string
          example: Benefits navigator prototype
        desc:
          type: string
          example: Exploring a navigator for multiple benefit types.
        use_case_label:
          type: string
          example: AI-powered benefits assistant
        use_case_theme:
          type: string
        exposure:
          type: string
          description: >
            Not an enum. Four values exist in the sheet today (client, internal,
            infra, learning), but the sheet can gain a fifth without a deploy.
          example: client
        people:
          type: string
          description: Semicolon-separated staff names.
          example: Ada Lovelace; Grace Hopper
        status:
          type: string
          description: >
            Free text, never a parsed date. Real values include "Apr 7–14, 2026" and
            "Fall 2025 – present".
          example: Apr 7–14, 2026
        tags:
          type: string
          description: Semicolon-separated. Three values exist today.
          example: internal
        links:
          type: string
          description: 'Semicolon-separated, each part usually "Label" then a URL.'
          example: "Demo: https://example.gov/demo"
        project_name:
          type: string
          description: >
            The sheet's own string, served even when it resolves so a client can name
            the value that failed when it does not. Empty on 14 of 37 rows as of
            2026-08-10, which is normal rather than a defect.
          example: User-Facing AI
        resolved_project:
          description: >
            The project whose project_name matches, case- and whitespace-insensitively,
            or null. A nine-field projection rather than the whole record: initiatives
            are readable by every signed-in user while the projects table is not, and
            the full record carries period-of-performance dates and health links this
            audience has no reason to receive. Resolved on read, so correcting a name in
            the sheet fixes the response on the next request rather than the next sync.
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InitiativeProject"
        related_contracts:
          type: array
          description: >
            The contracts belonging to resolved_project, present ONLY on the record
            named by the `id` query parameter. Absent and empty mean different things:
            absent is "the join was not requested" — every record of a list request,
            and any initiative with no resolved project — while [] is "requested, and
            this project owns no contracts on file".


            Membership uses the CONTRACTS-side resolution rule, which matches a
            project's project_name or its contract_name. The initiatives rule matches
            project_name alone and would silently drop every contract named the other
            way.
          items:
            $ref: "#/components/schemas/InitiativeContract"
        first_seen_at:
          type: string
          format: date-time
        last_synced_at:
          type: string
          format: date-time

    InitiativeProject:
      type: object
      description: The projected fields carried from a resolved project record.
      properties:
        project_code:
          type: string
          example: LB001
        project_index_code:
          type: string
          description: >
            The Confluence space key. Without it the detail page renders the project
            name as plain text rather than linking to /wiki/spaces/ — a page that
            exists and is wrong.
          example: UFAI
        project_name:
          type: string
          example: User-Facing AI
        portfolio:
          type: string
        agency:
          type: string
        program_manager:
          type: string
          description: The project's own program manager.
        nava_contract_pp:
          type: string
          description: >
            The contracts-side program manager. Often a different person from
            program_manager, which is why the page labels the two distinctly.
        archetype_primary:
          type: string
        archetype_additional:
          type: string

    InitiativeContract:
      type: object
      description: >
        A contract on the initiative's project, projected down to what identifies it.
        Narrower than the Contract schema on purpose: these are LINKS, not records,
        and /contracts/{contract_id} answers the rest. ai_posture is deliberately
        absent — resolving a posture id to its label needs the project-reference
        partition, which this route does not read.
      properties:
        contract_id:
          type: string
          description: The href of the link this entry renders.
          example: user-facing-ai
        project:
          type: string
          description: >
            The survey's own project string, which is also the contract's display name
            on the Contract Explorer's cards.
          example: User-Facing AI
        contract_num:
          type: string
        vehicle:
          type: string
        customer:
          type: string
        agreement_type:
          type: string

    InitiativesPopulationState:
      type: object
      required: [state, captured_at, row_count]
      properties:
        state:
          type: string
          enum: [never_populated, in_progress, complete]
          description: >
            never_populated — no sync has run; not an error. in_progress — a run wrote
            initiatives and then died, so the table is mid-flight and its contents
            should not be trusted. complete — captured_at and row_count describe a
            finished run.
        captured_at:
          description: When the last completed run finished, or null.
          oneOf:
            - type: "null"
            - type: string
              format: date-time
        row_count:
          description: Rows the last completed run wrote, or null.
          oneOf:
            - type: "null"
            - type: integer

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Forbidden

security:
  - sessionCookie: []

paths:

  # ── Auth (Auth Lambda, proxied via CloudFront /auth/*) ─────────────────────

  /auth/login:
    get:
      tags: [auth]
      summary: Initiate Google OAuth
      description: Redirects to Google's OAuth consent screen. Not authenticated.
      security: []
      parameters:
        - name: return_to
          in: query
          description: Path to redirect to after successful login (must start with /)
          schema:
            type: string
            default: /
      responses:
        "302":
          description: Redirect to Google OAuth

  /auth/callback:
    get:
      tags: [auth]
      summary: OAuth callback
      description: |
        Google redirects here after user consent. Exchanges the auth code, validates
        `@navapbc.com` domain, issues `__session` and `__user` cookies, and redirects
        to `return_to`. Not authenticated.
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        "302":
          description: Redirect to return_to path on success
          headers:
            Set-Cookie:
              description: Sets __session (HttpOnly) and __user cookies
              schema:
                type: string
        "400":
          description: Missing code or OAuth error
        "403":
          description: Email domain not allowed

  /auth/logout:
    get:
      tags: [auth]
      summary: Log out
      description: Clears __session and __user cookies, redirects to /login.
      security: []
      responses:
        "302":
          description: Redirect to /login

  # ── Skills ─────────────────────────────────────────────────────────────────

  /api/skills:
    get:
      tags: [skills]
      summary: List skills
      description: |
        Returns all skills visible to the authenticated user. Users see approved public/internal
        skills plus their own skills regardless of status. Admins and maintainers see all.
      parameters:
        - name: type
          in: query
          description: Filter by type
          schema:
            type: string
            enum: [skill, agent]
        - name: plugin
          in: query
          description: Filter by plugin slug
          schema:
            type: string
        - name: slugs
          in: query
          description: Comma-separated list of slugs for batch fetch (max 100). Used by category grids.
          schema:
            type: string
            example: summarize-doc,write-pr-description
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: "#/components/schemas/Skill"
        "401":
          description: Missing or invalid session cookie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      tags: [skills]
      summary: Create a skill
      description: |
        Creates a new skill. Status is forced to `pending` for `user` role; `admin` role
        creates directly as `approved`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SkillCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "400":
          description: Missing required fields or invalid JSON
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/skills/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string

    get:
      tags: [skills]
      summary: Get a skill
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "403":
          description: Skill exists but is not visible to this user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      tags: [skills]
      summary: Update a skill
      description: |
        Owners can edit their own skills. Maintainers and admins can edit any skill.
        If a non-admin edits an approved skill, status resets to `pending`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SkillCreate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "403":
          description: Not the owner or insufficient role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags: [skills]
      summary: Delete a skill
      description: Admin only.
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: string
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/skills/{slug}/approve:
    post:
      tags: [skills]
      summary: Approve a skill
      description: Maintain+ only. Optionally set visibility.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility:
                  type: string
                  enum: [public, internal, private]
      responses:
        "200":
          description: Approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/skills/{slug}/reject:
    post:
      tags: [skills]
      summary: Reject a skill
      description: Maintain+ only.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        "200":
          description: Rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Plugins ────────────────────────────────────────────────────────────────

  /api/plugins:
    get:
      tags: [plugins]
      summary: List plugins
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  plugins:
                    type: array
                    items:
                      $ref: "#/components/schemas/Plugin"

    post:
      tags: [plugins]
      summary: Create a plugin
      description: Admin only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Plugin"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plugin"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/plugins/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string

    get:
      tags: [plugins]
      summary: Get a plugin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plugin"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      tags: [plugins]
      summary: Update a plugin
      description: Admin only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Plugin"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plugin"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags: [plugins]
      summary: Delete a plugin
      description: Admin only.
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: string
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Users ──────────────────────────────────────────────────────────────────

  /api/users/me:
    get:
      tags: [users]
      summary: Get current user
      description: Returns the authenticated user's record. Creates the record on first call.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  /api/users/me/favorites:
    put:
      tags: [users]
      summary: Update favorites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [favorites]
              properties:
                favorites:
                  type: array
                  items:
                    type: string
                  description: Full replacement list of skill slugs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorites:
                    type: array
                    items:
                      type: string

  /api/users/me/installed:
    put:
      tags: [users]
      summary: Update installed list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [installed]
              properties:
                installed:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  installed:
                    type: array
                    items:
                      type: string

  /api/users:
    get:
      tags: [users]
      summary: List all users
      description: Admin only.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/users/{id}/role:
    put:
      tags: [users]
      summary: Update a user's role
      description: Admin only. URL-encode the user_id (email) in the path.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: user%40navapbc.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [user, maintain, admin, projects-admin]
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Audit ──────────────────────────────────────────────────────────────────

  /api/audit:
    get:
      tags: [audit]
      summary: Full audit log
      description: Admin only.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEvent"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/audit/me:
    get:
      tags: [audit]
      summary: My audit events
      description: Returns up to 100 most recent events for the current user.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEvent"

  # ── Admin ──────────────────────────────────────────────────────────────────

  /api/admin/queue:
    get:
      tags: [admin]
      summary: Pending approval queue
      description: Maintain+ only. Returns all skills with status=pending, sorted newest first.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: "#/components/schemas/Skill"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/admin/enterprise-skills:
    get:
      tags: [admin]
      summary: List enterprise and Anthropic built-in skills
      description: Maintain+ only.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: "#/components/schemas/Skill"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      tags: [admin]
      summary: Create an enterprise skill
      description: Maintain+ only. Creates with source=anthropic-enterprise and status=approved.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name, description]
              properties:
                slug:
                  type: string
                name:
                  type: string
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                docs_url:
                  type: string
                  format: uri
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "409":
          description: Slug already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/admin/enterprise-skills/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string

    put:
      tags: [admin]
      summary: Update an enterprise skill
      description: Maintain+ only. Cannot edit anthropic-builtin source records.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                docs_url:
                  type: string
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "403":
          description: Forbidden or attempting to edit anthropic-builtin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags: [admin]
      summary: Delete an enterprise skill
      description: Admin only.
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: string
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/admin/users:
    get:
      tags: [admin]
      summary: List all users (admin view)
      description: Admin only. Returns all users sorted newest first.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/admin/users/{id}/role:
    put:
      tags: [admin]
      summary: Update a user's role (admin view)
      description: Admin only.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [user, maintain, admin, projects-admin]
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/admin/audit:
    get:
      tags: [admin]
      summary: Full audit log (admin view)
      description: Admin only. Returns up to 200 events.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEvent"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/project-reference/{entityType}:
    parameters:
      - name: entityType
        in: path
        required: true
        description: Which reference dataset. Anything else is a 400.
        schema:
          type: string
          enum: [archetype, posture]

    get:
      tags: [project-reference]
      summary: List reference records of one entity type
      description: >
        Requires `projects-admin` or `admin`. Unlike the skills and plugins list
        endpoints, this read is authorised — the data is admin-owned. Returns
        active and inactive records alike.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProjectReferenceRecord"
        "400":
          description: Unknown entity type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      tags: [project-reference]
      summary: Create a reference record
      description: Requires `projects-admin` or `admin`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectReferenceRecord"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectReferenceRecord"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: A record with this id already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/project-reference/{entityType}/{id}:
    parameters:
      - name: entityType
        in: path
        required: true
        schema:
          type: string
          enum: [archetype, posture]
      - name: id
        in: path
        required: true
        schema:
          type: string

    get:
      tags: [project-reference]
      summary: Get a reference record
      description: Requires `projects-admin` or `admin`. Deactivated records remain retrievable.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectReferenceRecord"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      tags: [project-reference]
      summary: Replace a reference record
      description: >
        Requires `projects-admin` or `admin`. The path owns the id; an `id` in the
        body is ignored, so an edit cannot move a record. Whole-record write —
        last writer wins, which is acceptable for this low-churn data.
        There is no delete endpoint: a referenced record must not be removable,
        so deactivate it via the status endpoint instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectReferenceRecord"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectReferenceRecord"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/project-reference/{entityType}/{id}/status:
    parameters:
      - name: entityType
        in: path
        required: true
        schema:
          type: string
          enum: [archetype, posture]
      - name: id
        in: path
        required: true
        schema:
          type: string

    put:
      tags: [project-reference]
      summary: Activate or deactivate a reference record
      description: >
        Requires `projects-admin` or `admin`. Separate from the update endpoint so
        the audit trail records `deactivated` / `reactivated` rather than a
        generic update. Deactivating stops a record being offered as a choice
        while existing references to it continue to resolve.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectReferenceRecord"
        "400":
          description: Invalid status value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/projects:
    get:
      tags: [projects]
      summary: List synced projects with sync state and archetype drift
      description: >
        Projects mirrored from the "All Columns (Full View)" tab of the Nava
        Projects and Programs Database. Read-only — the sheet is the only write
        surface, and the API Lambda's IAM grant on this table omits write actions.
        Requires projects-admin or admin, reads included.


        One endpoint rather than two, so the drift summary and the project table
        cannot disagree about how fresh the data is.
      security:
        - sessionCookie: []
      responses:
        "200":
          description: Projects, column metadata, sync state, and drift findings
          content:
            application/json:
              schema:
                type: object
                required: [projects, column_groups, column_headers, sync, drift]
                properties:
                  projects:
                    type: array
                    description: >
                      One object per project. Attribute names are slugs derived
                      from the sheet headers, so the property set follows the
                      sheet rather than a fixed schema.
                    items:
                      type: object
                      required: [project_code]
                      properties:
                        project_code:
                          type: string
                          description: From the sheet's "Database code" column.
                          example: FC026
                        project_name:
                          type: string
                          example: CO COBEES
                        archetype_primary:
                          type: string
                          example: Product Team
                        archetype_additional:
                          type: string
                          description: Comma-separated; resolved per value.
                          example: Strategic Consulting Team, Data Modernization Team
                        first_seen_at:
                          type: string
                          format: date-time
                        last_synced_at:
                          type: string
                          format: date-time
                      additionalProperties:
                        type: string
                  column_groups:
                    type: object
                    description: >
                      Group label per stored column, from the row the sheet
                      declares above its header. Columns preceding the first
                      label are grouped as IDENTITY.
                    additionalProperties:
                      type: string
                    example:
                      database_code: IDENTITY
                      archetype_primary: FRAMEWORKS
                  column_headers:
                    type: object
                    description: The original sheet header for each stored slug.
                    additionalProperties:
                      type: string
                    example:
                      database_code: Database code
                      archetype_primary: Archetype (Primary)
                  sync:
                    $ref: "#/components/schemas/ProjectsSyncState"
                  drift:
                    $ref: "#/components/schemas/ProjectsDrift"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden — lacks the project-reference capability
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/initiatives:
    get:
      tags: [initiatives]
      summary: List synced AI initiatives with their resolved projects
      description: >
        AI initiatives mirrored from the first tab of the AI-initiatives workbook.
        Read-only — the sheet is the only write surface, and the API Lambda's IAM
        grant on this table omits write actions.


        Requires only a session. Deliberately NOT capability-gated, matching the
        Contract Explorer and unlike /api/projects: the hub exists so any delivery
        team member can see what AI work is running, and a capability role would be
        assigned to nobody.


        One endpoint rather than two, so the grid, the detail view, and the capture
        date cannot disagree about how fresh the data is.
      security:
        - sessionCookie: []
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: >
            An initiative_id. The response is unchanged except that the named record
            additionally carries related_contracts. Detail-only because the grid
            renders no contracts, and computing the join for every record would read
            the contracts partition on every hub load. An id matching nothing is not
            an error — the plain list is returned and the page renders not-found.
          example: benefits-navigator-prototype
      responses:
        "200":
          description: Initiatives with their resolved projects, and the population state
          content:
            application/json:
              schema:
                type: object
                required: [initiatives, population]
                properties:
                  initiatives:
                    type: array
                    items:
                      $ref: "#/components/schemas/Initiative"
                  population:
                    $ref: "#/components/schemas/InitiativesPopulationState"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: >
            The initiatives table or the projects table is not configured for this
            environment — or, on an `id` request that resolves to a project, the
            contracts table. Distinct from 500 on purpose — it means terraform apply
            has not run here yet, not that the read failed. A list request never
            consults the contracts table, so it is unaffected by that one's absence.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: >
            The read failed. Returns an error rather than an empty list, because the
            page IS the initiatives and an empty success would be a lie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
